@import url('https://fonts.googleapis.com/css?family=Quicksand');

body, h1{
    font-family: 'Quicksand', sans-serif;
}

img.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
     margin-left: 50px;
     margin-right: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

figcaption {
    margin-top: 20px;
    text-align: center;
}