@import url('https://fonts.googleapis.com/css?family=Quicksand');

body, h1{
    font-family: 'Quicksand', sans-serif;
}

img.diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
     margin-left: 50px;
     margin-right: 50px;
}

#imagesMain{
    
    position:relative;
    display: inline-block;
    
    width:100%;
    height:250px;
    margin-top:20px;
    
    background-color:red;
    
    text-align:center;
}

#imagesMain img{
    background-color:blue;
    height: 200px;
    width: 150px;
    margin-left:-4px; /* trick for remove the space beetwen */
}

.flex-center {
  display: flex;
  justify-content: center;
}