@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {font-size: 1.375em;  /* 22px */}

body, h1{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%;     /* flexible baseline */
    line-height: 1.4;
}

.content {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    font-weight: 300;
}

img.diagram {
    max-width: 100%;
}

p,ul {
     margin-left: 50px;
     margin-right: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

figcaption {
    margin-top: 20px;
    text-align: center;
}